AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
GCP_PROJECT_ID=project-dd166e03-7284-484d-a0c
PUBSUB_TOPIC=bridge-topic
DB_HOST=YOUR_CLOUD_SQL_IP
DB_USER=root
DB_PASSWORD=CHANGE_ME
DB_NAME=hybriddb